<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>

  <body>
    <%- partial('_partial/header') %>

    <div class="container">
      <div class="main">
        <section class="inner">
          <section class="inner-main">
            <%- body %>
          </section>
        </section>

        <% if (page.sidebar !== false) { %>
          <% if (is_post()) { %>
            <aside class="sidebar <% if (config.aomori_search_algolia) { %>sidebar-search-fix<% } %>">
              <%- partial('_partial/sidebar') %>
            </aside>
          <% } else { %>
            <aside class="sidebar <% if (config.aomori_search_algolia) { %>sidebar-search-fix<% } %>" style="position: absolute; top: 10px;">
              <%- partial('_partial/sidebar') %>
            </aside>
          <% } %>

          <aside class="sidebar headnav-fix">
            <div class="widget ps" id="widget">
              <div class="widget-wrap widget-archive">
                <div style="text-align: center;">
                  <span>
                    <div class="sidebar-card">
                      <div class="avatar_sidebar">
                        <!-- 使用本地照片作为头像 -->
                        <a href="/about">
                          <img src="/images/avatar_HD.jpg" alt="头像">
                        </a>
                      </div>
                      <div class="profile-info">
                        <h2 class="name">一纸折鸢</h2>
                        <p class="bio" style="text-indent: -1em;">『恋慕的纸鸢</p>
                        <p class="bio" style="text-indent: 1em;">只为你而折』</p>
                      </div>
                      <div class="divider"></div>
                      <div class="social-icons">
                        <a href="https://github.com/resona" class="social-icon github" title="GitHub">
                          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
                          </svg>
                        </a>
                        <a href="https://t.me/resona_origami" class="social-icon telegram" title="Telegram">
                          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5.894 8.221l-1.568 7.383c-.118.53-.473.764-.96.475l-2.647-1.954-1.278 1.23c-.142.142-.262.262-.538.262l.193-2.71 4.937-4.461c.214-.188-.047-.295-.335-.106l-6.103 3.854-2.627-.816c-.57-.183-.582-.568.133-.842l10.26-3.958c.47-.176.883.107.733.693z"/>
                          </svg>
                        </a>
                        <a href="mailto:chaill@live.cn" class="social-icon email" title="Email">
                          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.016 15.493c0 .534-.435.966-.97.966h-10.092c-.535 0-.97-.432-.97-.966v-6.986c0-.535.435-.967.97-.967h10.092c.535 0 .97.432.97.967v6.986zm-4.991-7.25l-5.025 4.222v5.515h10v-5.515l-4.975-4.222zm-.014 1.401l4.03 3.414v-3.414h-4.03zm-4.001 0v3.414l4.03-3.414h-4.03z"/>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
            </div>

            <div class="widget ps" id="widget" style="padding: 0;">
              <div id="app"></div>
              <!-- 加载 cplayer 脚本 -->
              <script>
                let player = new cplayer({
                  width: '200',
                  big: true,
                  showPlaylist: false,
                  showPlaylistButton: false,
                  element: document.getElementById('app'),
                  playlist: [
                    {
                      src: '/music/xjy.mp3',
                      poster: 'https://p2.music.126.net/_UOvA4pi5_iXGuoOZ4C7gQ==/109951163127455257.jpg',
                      name: '仙居谣',
                      artist: '逸恋仙居'
                    },
                    {
                      src: '/music/smgz.mp3',
                      poster: 'https://p1.music.126.net/iJ-h2ygECtKuzITTh9wqYQ==/17934134160859736.jpg',
                      name: '世末歌者',
                      artist: '双笙'
                    },
                    {
                      src: '/music/jjbsy.mp3',
                      poster: 'https://p2.music.126.net/0KcMYyKmWR-6eCkR8znePw==/18198016951567516.jpg',
                      name: '九九八十一',
                      artist: '乐正绫 / 洛天依'
                    },
                    {
                      src: '/music/srnl.mp3',
                      poster: 'https://p1.music.126.net/hzlpZj9bzwyk1b0g7Deo0A==/109951163335209234.jpg',
                      name: '生如逆旅',
                      artist: '圈9'
                    },
                    {
                      src: '/music/zlyb.mp3',
                      poster: 'https://p1.music.126.net/2BqhuG80pPX44zKZXTUEXQ==/109951163097371954.jpg',
                      name: '再来一杯',
                      artist: 'BiliBili'
                    },
                    {
                      src: '/music/cgyygy.mp3',
                      poster: 'https://p1.music.126.net/a61wnSbpl7iz4juzmlq-gA==/6641050233030998.jpg',
                      name: '唱给雅音宫羽·终',
                      artist: '純白P / 洛天依'
                    }
                  ]
                });
              </script>
            </div>

            <div class="tools">
              <div id="backtop" style="display: none;">
                <i class="icon icon-arrow-up"></i>
              </div>
              <div id="change-mode" style="display: block;">
                <i class="icon icon-time"></i>
              </div>
            </div>
          </aside>
        <% } %>
      </div>
    </div>

    <%- partial('_partial/footer') %>
  </body>
</html>
