<footer class="footer"> 
    <div class="footer-wrap">
        <div class="footer-inner">
            <%= config.title %> &copy; <%= date(new Date(), 'YYYY') %><br>
            <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
            <span id="busuanzi_container_site_pv">冀ICP备17017688号-本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
        </div>
</footer> 

<% if (config.aomori_gitalk){ %>
<script src="https://unpkg.zhimg.com/gitalk/dist/gitalk.min.js"></script>
<% } %>

<script src="/dist/dark.js"></script>
<%- js('dist/build.js?' + theme.version) %>
<%- js('dist/custom.js?' + theme.version) %>

<!--------------------------------------------------------->

<script type="text/javascript">
    function browserRedirect() 
    {
        var sUserAgent = navigator.userAgent.toLowerCase();
        var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        var bIsMidp = sUserAgent.match(/midp/i) == "midp";
        var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        var bIsAndroid = sUserAgent.match(/android/i) == "android";
        var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
        if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) 
        {
            console.log("phone")
        }else
        {
            console.log("PC")
            document.write('<div class="waifu">')
            document.write('<div class="waifu-tips"></div>')
            document.write('<canvas id="live2d" class="live2d"></canvas>')
            document.write('<div class="waifu-tool">')
            document.write('<span class="fui-home"></span>')
            document.write('<span class="fui-chat"></span>')
            document.write('<span class="fui-eye"></span>')
            document.write('<span class="fui-user"></span>')
            document.write('<span class="fui-photo"></span>')
            document.write('<span class="fui-info-circle"></span>')
            document.write('<span class="fui-cross"></span>')
            document.write('</div>')
            document.write('</div>')
        }
    }
    browserRedirect();
</script>

<script src="/assets/waifu-tips.js"></script>
<script src="/assets/live2d.js"></script>

<script type="text/javascript">
        live2d_settings['modelId'] = 1;
        live2d_settings['modelTexturesId'] = 87;
        initModel("/assets/waifu-tips.json")
</script>
<!--------------------------------------------------------->

<% if (config.aomori_baidu_sitepush) { %>
<!-- 百度链接提交 -->
<script>
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<% } %>

<% if (config.aomori_google_analytics) { %>
<!-- Google Analytics-->
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= config.aomori_google_analytics %>"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '<%= config.aomori_google_analytics %>');
</script>
<% } %>

<% if (config.aomori_baidu_analytics) { %>
<!-- Baidu Analytics-->
<script type="text/javascript">
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?<%= config.aomori_baidu_analytics %>";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<% } %>
